## Assignment1: Geocoding points of interest

The aim of this exercise is to find out how many people live in proximity to shopping centers in Stockholm.

---

### a) Create a file with the addresses of a few shopping centers in Stockholm

Find out the addresses of shopping centers in Stockholm  and collect them in a text file called `shopping_centres.txt`. The list does not have to be exhaustive - between 5-10 centers would be enough.

 
The text file should be in semicolon-separated format (`;`) and include the following columns:

- `id` (integer) a unique identifier for each shopping centre (a
- `name` (string) of each shopping center
- `addr` (string) the address 


---

### b) Import the file

Read the list of addresses you just prepared into a `pandas.DataFrame` called `shopping_centres`

In [1]:
import pathlib

# Setup data directory
NOTEBOOK_PATH = pathlib.Path("/geopython/Exercises/Exercise 3")
DATA_DIRECTORY = NOTEBOOK_PATH / "data"

In [2]:
# RUN YOUR CODE HERE
import pandas

# Read csv file, use ';' as seperator
shopping_centres = pandas.read_csv(
    DATA_DIRECTORY /  "shopping_centres.txt",
    sep=";"
)

In [3]:
shopping_centres

   id                  name                                    addr
0   1             Gallerian          Hamngatan 37, 111 53 Stockholm
1   2   Mall of Scandinavia            Stjärntorget 2, 169 79 Solna
2   3         Solna Centrum             Solnavägen 13, 171 45 Solna
3   4        Sturegallerian          Sturegatan 4, 114 35 Stockholm
4   5         Bromma Blocks   Ulvsundavägen 185, 193, 168 67 Bromma
5   6    Bergshamra Centrum         Bergshamravägen 1, 170 72 Solna
6   7        Kista Galleria          Hanstavägen 55 F, 164 53 Kista


---

### c) Geocode the addresses

Geocode the addresses using the Nominatim geocoding service. Join the results with the input data, and store them in a `geopandas.GeoDataFrame` with the same name (`shopping_centres`). 

Remember to define a custom `user_agent` string!

In [4]:
# RUN YOUR CODE HERE
import geopandas as gpd

# Trim whitespace from column names
shopping_centres.columns = shopping_centres.columns.str.strip()

# Use Nominatim as geocoding service to get coordinate for addresses
shopping_centres_geo = gpd.tools.geocode(
    shopping_centres["addr"],
    provider="nominatim",
    user_agent="geopython2025Labs",
    timeout=10,
)

In [5]:
shopping_centres_geo

,geometry,address
0,POINT (18.06716 59.33245),"37, Hamngatan, Klara, Norrmalm, Norra innersta..."
1,POINT (18.00301 59.37044),"Westfield Mall of Scandinavia, 2, Stjärntorget..."
2,POINT (18.02082 59.35180),"13H, Solnavägen, Västra skogen, Solna Kyrkby, ..."
3,POINT (18.07337 59.33652),"4, Sturegatan, Villastaden, Östermalm, Norra i..."
4,GEOMETRYCOLLECTION EMPTY,None
5,POINT (18.03280 59.38008),"Bergshamravägen, Kungshamra, Tivoli, Bergshamr..."
6,POINT (17.94265 59.40441),"Matmissionen, 55F, Hanstavägen, Kista, Järva s..."

In [6]:
shopping_centres = shopping_centres.join(shopping_centres_geo)
shopping_centres

,id,name,addr,geometry,address
0,1,Gallerian,"Hamngatan 37, 111 53 Stockholm",POINT (18.06716 59.33245),"37, Hamngatan, Klara, Norrmalm, Norra innersta..."
1,2,Mall of Scandinavia,"Stjärntorget 2, 169 79 Solna",POINT (18.00301 59.37044),"Westfield Mall of Scandinavia, 2, Stjärntorget..."
2,3,Solna Centrum,"Solnavägen 13, 171 45 Solna",POINT (18.02082 59.35180),"13H, Solnavägen, Västra skogen, Solna Kyrkby, ..."
3,4,Sturegallerian,"Sturegatan 4, 114 35 Stockholm",POINT (18.07337 59.33652),"4, Sturegatan, Villastaden, Östermalm, Norra i..."
4,5,Bromma Blocks,"Ulvsundavägen 185, 193, 168 67 Bromma",GEOMETRYCOLLECTION EMPTY,None
5,6,Bergshamra Centrum,"Bergshamravägen 1, 170 72 Solna",POINT (18.03280 59.38008),"Bergshamravägen, Kungshamra, Tivoli, Bergshamr..."
6,7,Kista Galleria,"Hanstavägen 55 F, 164 53 Kista",POINT (17.94265 59.40441),"Matmissionen, 55F, Hanstavägen, Kista, Järva s..."

 reproject the layer into SWEREF99:

In [7]:
# RUN YOUR CODE HERE

# Convert coordinate to SWEREF99 using the inbuilt 'to_crs' function
shopping_centres_sweref99 = shopping_centres_geo.to_crs("EPSG:3006")

In [8]:
shopping_centres_sweref99

,geometry,address
0,POINT (674473.725 6581089.637),"37, Hamngatan, Klara, Norrmalm, Norra innersta..."
1,POINT (670635.567 6585150.741),"Westfield Mall of Scandinavia, 2, Stjärntorget..."
2,POINT (671741.419 6583122.341),"13H, Solnavägen, Västra skogen, Solna Kyrkby, ..."
3,POINT (674806.152 6581558.512),"4, Sturegatan, Villastaden, Östermalm, Norra i..."
4,GEOMETRYCOLLECTION EMPTY,None
5,POINT (672278.454 6586300.362),"Bergshamravägen, Kungshamra, Tivoli, Bergshamr..."
6,POINT (667039.837 6588778.684),"Matmissionen, 55F, Hanstavägen, Kista, Järva s..."


---

### d) Save the results in a geographical format (such as .shp or .gpkg)

Save `shopping_centres` as a *GeoPackage* named `shopping_centres.gpkg`:

In [9]:
# RUN YOUR CODE HERE

# Save to disk
shopping_centres_sweref99.to_file(DATA_DIRECTORY / "shopping_centres.gpkg")